.gamemainmenu frontpage {
    margin: 100px 100px;
    gap: 100px;

    .game-title {
        width: 100%;
        height: 100%;
    }

    .controls {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}
