@namespace ParkoutPainters.UI

@if (Game.LocalPawn is not Entities.Player player)
{
    return;
}

<root>
    <div class="dash">
        <div
        class="fill"
        style="
            width: @(player.DashMechanic.ActiveDashPercentage)%;
            background: linear-gradient(to top, #ffb200, #996b00);" />
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        var player = Game.LocalPawn as Entities.Player;
        return HashCode.Combine(player?.DashMechanic.ActiveDashPercentage.ToString());
    }
}

<style>
    DashIndicator {
        position: absolute;
        bottom: 100px;
        left: 200px;
        transform: rotate(45deg) skew(0deg, -45deg);
        opacity: 0.9;

        .dash {
            height: 50px;
            width: 300px;
            background-color: rgba(0, 0, 0, 0.24);
            border-color: black;
            border-width: 4px;

            .fill {
                transition: all 50ms ease-out;
                height: 100%;
            }
        }
    }
</style>