@inherits Sandbox.UI.Panel
@namespace ParkourPainters.UI

@if (GameOverState.Instance is null)
{
    return;
}

<root>
    <div class="teams">
        @foreach (var entry in _scores)
        {
            var teamColor = entry.Key.Group.SprayColor.Hex;
            var percentageScore = GameOverState.Instance.TotalPossibleMapScore == 0 ? 0 : ((float)entry.Value / GameOverState.Instance.TotalPossibleMapScore) * 100;
            <div class="team" style="flex-direction: column; padding: 5px;">
                <label style="color: @teamColor;">@entry.Key.Group.Name</label>
                <div class="score" style="border-color: @teamColor;">
                    <div
                    class="fill"
                    style="
                width: @(percentageScore)%;
                background-color: @teamColor;" />
                </div>
            </div>
        }
    </div>
</root>

@code {
    private Dictionary<Team, int> _scores = new();

    public void AddScore(Team team, int score)
    {
        if (!_scores.ContainsKey(team))
            _scores.TryAdd(team, 0);

        _scores[team] += score;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GameOverState.Instance?.GetHashCode(), _scores.HashCombine(e => HashCode.Combine(e.Key.GetHashCode(), e.Value.GetHashCode())));
    }
}

<style>
    GameResults {
        position: absolute;
        bottom: 100px;
        width: 100%;

        label {
            font-size: 70px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }

        .teams {
            width: 100%;
            justify-content: center;

            .team {
                opacity: 1;
                transition: all 500ms ease-in-out;
                bottom: 100px;

                .score {
                    width: 350px;
                    height: 40px;
                    border-width: 5px;
                    box-shadow: 3px 3px 10px black;

                    .fill {
                        transition: all 750ms ease-out;
                        height: 100%;
                    }
                }

                &:intro {
                    bottom: 50px;
                    opacity: 0;
                }
            }
        }
    }
</style>