@namespace ParkourPainters.UI

@if (Game.LocalPawn is not GameOverSpectator spectator)
{
    return;
}

<root>
    @foreach (var entry in spectator.AccumulatingScores)
    {
        var teamColor = entry.Key.Group.SprayColor.Hex;
        <div style="flex-direction: column; padding: 5px;">
            <label style="color: @teamColor;">@entry.Key.Group.Name</label>
            <div class="score" style="border-color: @teamColor;">
                <div
                class="fill"
                style="
                width: @(spectator.AccumulatingScores[entry.Key] / GameOverState.Instance.TotalPossibleScore)%;
                background-color: @teamColor;" />
            </div>
        </div>
    }
</root>

@code {
    protected override int BuildHash()
    {
        if (Game.LocalPawn is not GameOverSpectator spectator)
            return 0;

        return HashCode.Combine(spectator.AccumulatingScores.HashCombine(e => HashCode.Combine(e.Key.GetHashCode(), e.Value.GetHashCode())));
    }
}

<style>
    GameResults {
        position: absolute;
        bottom: 100px;
        left: 50%;
        align-items: flex-end;
        transform: translateX(-50%);

        label {
            font-size: 70px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }

        .score {
            width: 350px;
            height: 40px;
            border-width: 5px;
            box-shadow: 3px 3px 10px black;

            .fill {
                transition: all 750ms ease-in-out;
                height: 100%;
            }
        }
    }
</style>