@namespace ParkourPainters.UI

<root>
    @{
        var stateName = ParkourPainters.Current.CurrentState.StateName;
        <label>@stateName</label>

        var desc = ParkourPainters.Current.CurrentState switch
        {
            WaitingState => $"{Game.Clients.Count} / {ParkourPainters.MinimumPlayers}",
            PlayState p => $"{FormatTimer(p.TimeUntilGameEnds)}",
            GameOverState => string.Empty,
            MapVoteState => string.Empty
        };
        <label style="padding-left: 10px;">@desc</label>
    }
</root>

@code {
    private string FormatTimer(float seconds)
    {
        return TimeSpan.FromSeconds(seconds.CeilToInt()).ToString(@"mm\:ss");
    }

    protected override int BuildHash()
    {
        var state = ParkourPainters.Current.CurrentState;
        var playState = state as PlayState;
        return HashCode.Combine(state.StateName, playState?.TimeUntilGameEnds.ToString(), Game.Clients.Count, ParkourPainters.MinimumPlayers);
    }
}

<style>
    GameTimer {
        position: absolute;
        top: 100px;
        right: 200px;

        label {
            font-size: 70px;
            color: orange;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }
    }
</style>