@inherits Sandbox.UI.Panel
@namespace ParkourPainters.UI

<root>
    @foreach (var entry in _scores)
    {
        var teamColor = entry.Key.Group.SprayColor.Hex;
        <div style="flex-direction: column; padding: 5px;">
            <label style="color: @teamColor;">@entry.Key.Group.Name</label>
            <div class="score" style="border-color: @teamColor;">
                <div
                class="fill"
                style="
                width: 50%;
                background-color: @teamColor;" />
            </div>
        </div>
    }
</root>

@code {
    private Dictionary<Team, int> _scores = new();

    public void AddScore(Team team, int score)
    {
        if (!_scores.ContainsKey(team))
            _scores.TryAdd(team, 0);

        _scores[team] += score;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_scores.HashCombine(e => HashCode.Combine(e.Key.GetHashCode(), e.Value.GetHashCode())));
    }
}

<style>
    GameResults {
        position: absolute;
        bottom: 100px;
        left: 50%;
        align-items: flex-end;
        transform: translateX(-50%);

        label {
            font-size: 70px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }

        .score {
            width: 350px;
            height: 40px;
            border-width: 5px;
            box-shadow: 3px 3px 10px black;

            .fill {
                transition: all 750ms ease-in-out;
                height: 100%;
            }
        }
    }
</style>