@inherits Sandbox.UI.Panel
@namespace ParkourPainters.UI

@if (GameOverState.Instance is null)
{
    return;
}

<root>
    <div class="teams">
        @foreach (var entry in _scores)
        {
            var teamColor = entry.Key.Group.SprayColor.Hex;
            var percentageScore = GameOverState.Instance.TotalPossibleMapScore == 0 ? 0 : ((float)entry.Value / GameOverState.Instance.TotalPossibleMapScore) * 100;
            <div class="team" style="flex-direction: column; padding: 5px;">
                <div>
                    <label class="title" style="color: @teamColor;">@entry.Key.Group.Name</label>
                    @if (WinningTeam == entry.Key)
                    {
                        <label style="color: orange; font-family: MaterialIcons;">workspace_premium</label>
                    }
                </div>
                <div class="score" style="border-color: @teamColor;">
                    <div
                    class="fill"
                    style="
                    width: @(percentageScore)%;
                    background-color: @teamColor;" />
                </div>
            </div>
        }
    </div>
</root>

@code {
    private Dictionary<Team, int> _scores = new();
    private Team WinningTeam { get; set; }

    public void AddScore(Team team, int score)
    {
        if (!_scores.ContainsKey(team))
            _scores.TryAdd(team, 0);

        _scores[team] += score;
    }

    @* Whatever gamejam code... *@
    public void ShowWinner()
    {
        var sortedScores = _scores.OrderByDescending(s => s.Value);
        if (sortedScores.Count() >= 2)
        {
            var highestScore = sortedScores.First();
            var secondHighestScore = sortedScores.Skip(1).First();
            if (highestScore.Value == secondHighestScore.Value)
                return;
        }

        if (sortedScores.Count() <= 0)
            return;

        WinningTeam = sortedScores.FirstOrDefault().Key;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GameOverState.Instance?.GetHashCode(), _scores.HashCombine(e => HashCode.Combine(e.Key.GetHashCode(), e.Value.GetHashCode())), WinningTeam?.GetHashCode());
    }
}

<style>
    GameResults {
        position: absolute;
        bottom: 100px;
        width: 100%;

        label {
            font-size: 66px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }

        .teams {
            width: 100%;
            justify-content: center;

            .team {
                opacity: 1;
                transition: all 500ms ease-in-out;
                bottom: 100px;
                width: 20%;

                .title {
                    text-overflow: clip;
                    white-space: nowrap;
                }

                .score {
                    height: 50px;
                    border-width: 5px;
                    box-shadow: 3px 3px 10px black;

                    .fill {
                        transition: all 750ms ease-out;
                        height: 100%;
                    }
                }

                &:intro {
                    bottom: 50px;
                    opacity: 0;
                }
            }
        }
    }
</style>