@namespace ParkourPainters.UI

<root>
    @foreach (var entry in _scores)
    {
        <div style="flex-direction: column;">
            <label style="color: @entry.Key.Group.SprayColor.Hex;">@entry.Key.Group.Name</label>
            <div class="fill" />
        </div>
    }
</root>

@code {
    private Dictionary<Team, int> _scores = new();

    public override void Tick()
    {
        // TODO: Init this somewhere else...
        if (GameOverState.Instance is not null)
            _scores.Clear();

        if (PlayState.Instance is null)
            return;

        foreach (var team in PlayState.Instance.Teams)
        {
            if (!_scores.ContainsKey(team))
            {
                _scores.Add(team, 0);
            }
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_scores.HashCombine(e => HashCode.Combine(e.Key.GetHashCode(), e.Value.GetHashCode())));
    }
}

<style>
    GameResults {
        position: absolute;
        bottom: 100px;
        left: 50%;
        align-items: flex-end;
        transform: translateX(-50%);

        label {
            font-size: 70px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }

        .fill {
            width: 300px;
        }
    }
</style>