@namespace ParkoutPainters.UI

<root>
    @{
        var stateName = ParkoutPainters.Current.CurrentState.StateName;
        <label>@stateName</label>

        var desc = ParkoutPainters.Current.CurrentState switch
        {
            WaitingState => $"{Game.Clients.Count} / {ParkoutPainters.MinimumPlayers}",
            PlayState p => $"{FormatTimer(p.TimeUntilGameEnds)}",
            GameOverState => string.Empty,
        };
        <label>@desc</label>
    }
</root>

@code {
    private string FormatTimer(float seconds)
    {
        return TimeSpan.FromSeconds(seconds.CeilToInt()).ToString(@"mm\:ss");
    }

    protected override int BuildHash()
    {
        var state = ParkoutPainters.Current.CurrentState;
        var playState = state as PlayState;
        return HashCode.Combine(state.StateName, playState?.TimeUntilGameEnds.ToString(), Game.Clients.Count, ParkoutPainters.MinimumPlayers);
    }
}

<style>
    GameTimer {
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        label {
            font-size: 50px;
            color: white;
        }
    }
</style>