@inherits Sandbox.UI.WorldPanel
@namespace ParkourPainters.UI

<root>
    <label>lock</label>
</root>

@code {
    private Color Color { get; set; }
    private TimeSince TimeSinceLock { get; set; }

    public LockWorldPanel(Spray spray, Color color, TimeSince timeSinceLock)
    {
        SceneObject.RenderLayer = SceneRenderLayer.OverlayWithDepth;

        Position = spray.Position + spray.Position.Normal * -5;
        Rotation = spray.Rotation;
        Rotation = Rotation.RotateAroundAxis(Vector3.Right, 90);

        Color = color;
        TimeSinceLock = timeSinceLock;
    }

    public override void Tick()
    {
        SetClass("blickerton", TimeSinceLock + 3 >= Spray.LockDuration);
    }
}

<style>
    LockWorldPanel {
        justify-content: center;
        align-items: center;
        transition: all 2s ease-out;
        opacity: 1;

        label {
            color: @Color.Hex;
            font-family: MaterialIcons;
            font-size: 150px;
            text-shadow: 2px 2px 0px rgba(black, 0.75);
        }

        &.blickerton {
            animation-duration: 1s;
            animation-name: blickerton;
            animation-iteration-count: infinite;
        }

        &:intro {
            opacity: 0;
        }

        &:outro {
            opacity: 0;
        }
    }

    @@keyframes blickerton {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.3;
        }

        100% {
            opacity: 1;
        }
    }
</style>