@inherits Sandbox.UI.WorldPanel
@namespace ParkourPainters.UI

<root>
    <label>lock</label>
</root>

@code {
    private TimeUntil TimeUntilUnlock { get; set; }
    private Color Color { get; set; }

    public LockWorldPanel(Spray spray, Color color, TimeUntil timeUntilUnlock)
    {
        SceneObject.RenderLayer = SceneRenderLayer.OverlayWithDepth;

        Position = spray.Position + spray.Position.Normal * -5;
        TimeUntilUnlock = timeUntilUnlock;
        Color = color;
    }

    public override void Tick()
    {
        if (TimeUntilUnlock)
        {
            Delete(true);
            return;
        }
    }
}

<style>
    LockWorldPanel {
        justify-content: center;
        align-items: center;
        transition: all 2s ease-out;
        opacity: 1;

        label {
            color: @Color.Hex;
            font-family: MaterialIcons;
            font-size: 150px;
            text-shadow: 2px 2px 0px rgba(black, 0.75);
        }

        &:intro {
            opacity: 0;
        }
    }
</style>