@namespace SpeedPainters.UI

<root>
    <label>@Desc</label>
</root>

@code {
    public string Desc { get; set; }

    public PowerupPopup()
    {
        _ = DelayDelete();
    }

    private async Task DelayDelete()
    {
        await GameTask.Delay(1500);

        Delete();
    }
}

<style>
    PowerupPopup {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 1000ms ease-in-out;
        transition: top 3000ms ease-in;
        opacity: 1;

        label {
            font-size: 60px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
            color: white;
        }

        &:intro {
            opacity: 0;
            top: 200px;
        }

        &:outro {
            opacity: 0;
        }
    }
</style>