@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="button" onclick=@OnPlay>Play</div>
</root>

@code
{
	[Property] GameManager  GameManager { get; set; }

	public void OnPlay()
	{
		GameManager.StartGame();
		AddClass("hidden");
	}
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(OnPlay);
}