@inherits Sandbox.UI.WorldPanel
@namespace ParkourPainters.UI

<root>
    <label style="color: @Team.Group.SprayColor.Hex;">+1</label>
</root>

@code {
    public Team Team { get; private set; }
    public Vector3 Position { get; private set; }

    public ScoreWorldPanel(Team team, Vector3 startingPosition)
    {
        SceneObject.Flags.ViewModelLayer = true;

        Team = team;
        Transform = new Transform(
            startingPosition - Camera.Rotation.Forward * 10f, 
            Camera.Rotation.RotateAroundAxis(Vector3.Up, 180f)
        );

        _ = DelayDelete();
    }

    public override void Tick()
    {
        var transform = Transform;
        transform.Position += Vector3.Up * 5 * Time.Delta;
        Transform = transform;
    }

    private async Task DelayDelete()
    {
        await GameTask.Delay(2000);

        Delete();
    }
}

<style>
    ScoreWorldPanel {
        justify-content: center;
        sound-in: spray_ding;

        label {
            font-family: ADDCN;
            font-size: 128px;
            text-shadow: 2px 2px 0px rgba(black, 0.75);
        }

        &.hidden {
            opacity: 0;
        }
    }
</style>