@namespace ParkourPainters.UI

@if (!Hud.DisplayedPlayer.IsValid() || Hud.DisplayedPlayer.Team is null)
{
    return;
}

<root>
    <label style="color: white;">Gang:</label>
    <label style="color: @Hud.DisplayedPlayer.Team.Group.SprayColor.Hex;">@Hud.DisplayedPlayer.Team.Group.Name</label>
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(Hud.DisplayedPlayer?.Team?.GetHashCode());
    }
}

<style>
    TeamIndicator {
        position: absolute;
        bottom: 100px;
        left: 200px;

        label {
            font-size: 70px;
            font-family: ADDCN;
            text-shadow: 2px 2px 0px black;
        }
    }
</style>