@namespace ParkourPainters.UI

@if (Client.Pawn is not Entities.Player player)
{
    return;
}

<root>
    <img src="avatar:@Client.SteamId" />
    <label class="name" style="color: @(player?.Team?.Group?.SprayColor.Hex ?? Color.White.Hex)">@Client.Name</label>
    <label class="ping">@Client.Ping</label>
</root>

@code {
    public IClient Client { get; set; }
    protected override int BuildHash()
    {
        var player = Client.Pawn as Entities.Player;
        return HashCode.Combine(Client.Ping, player?.Team?.GetHashCode());
    }
}

<style>
    PlayerEntry {
        align-items: center;
        flex-shrink: 0;
        width: 300px;
        padding: 5px;

        .name {
            flex-grow: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .ping {
            flex-shrink: 0;
            color: white;
        }

        img {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
        }

        label {
            text-align: center;
            font-size: 38px;
            font-family: Poppins;
            text-shadow: 2px 2px 0px black;
        }
    }
</style>