@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@namespace Sandbox.UI.GameMenu

<root class="gamemainmenu">
    <div class="navigator-canvas" slot="navigator-canvas"></div>
    <ScenePanel @ref=Scene style="position: absolute; width: 100%; height: 100%;"></ScenePanel>
</root>

@code
{
    ScenePanel Scene { get; set; }
    SceneWorld World { get; set; }

    public GameMenu()
    {
        DefaultUrl = "/";

        AddDestination("/", typeof(FrontPage));
        AddDestination("/load", typeof(LoadGamePage));
        AddDestination("/lobby", typeof(LobbyPage));
        AddDestination("/lobby/map", typeof(LobbyMapPage));
        AddDestination("/lobby/addons", typeof(LobbyAddonPage));
        AddDestination("/active", typeof(ActivePage));
        AddDestination("/active/map", typeof(ActiveMapPage));
        AddDestination("/servers", typeof(ServerListPage));
        AddDestination("/settings", typeof(SettingsPage));

        if (Game.InGame) Navigate("/active");

        BindClass( "ingame", () => Game.InGame );
        BindClass("inlobby", () => Game.Menu.Lobby != null);
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        World = new();
        Scene ??= new();
        Scene.World = World;
        new SceneMap(World, "maps/prefabs/billboard_01a.vmap");

        Scene.Camera.FieldOfView = 90;
    }

    public override void Tick()
    {
        Scene.Camera.Position += Vector3.Up * 1.2f; 
        Scene.Camera.Rotation = new Angles(RealTime.Now * 65, 0, 0).ToRotation();
    }
    
	protected override void OnEvent( PanelEvent e )
	{
		if ( e.Name == "package.changed" )
		{
			StateHasChanged();
			return;
		}

		base.OnEvent( e );
	}

    [GameEvent.Menu.ServerJoined]
    public void OnServerJoined() => Navigate("/active");

    [GameEvent.Menu.LobbyJoined]
    public void OnLobbyJoined() => Navigate("/lobby");

    [GameEvent.Menu.LobbyLeave]
    public void OnLobbyLeave() => Navigate("/");

    [GameEvent.Menu.ServerLeave]
    public void OnServerLeave() => Navigate("/");
}
