@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@namespace ParkourPainters.UI.GameMenu

<root class="gamemainmenu">
    <div class="navigator-canvas" slot="navigator-canvas"></div>
    @* <img src="images/pp_logo.png" style="margin: 20%; position: absolute; width: 30%: height: 30%;"> *@
    <div @ref=Video style="position: absolute; z-index: -10; "></div>
</root>

@code
{
    Panel Video { get; set; }
    private VideoPlayer v { get; set; }

    public GameMenu()
    {
        DefaultUrl = "/";

        AddDestination("/", typeof(FrontPage));
        AddDestination("/load", typeof(LoadGamePage));
        AddDestination("/lobby", typeof(LobbyPage));
        AddDestination("/lobby/map", typeof(LobbyMapPage));
        AddDestination("/lobby/addons", typeof(LobbyAddonPage));
        AddDestination("/active", typeof(ActivePage));
        AddDestination("/active/map", typeof(ActiveMapPage));
        AddDestination("/servers", typeof(ServerListPage));
        AddDestination("/settings", typeof(SettingsPage));

        if (Game.InGame) Navigate("/active");

        BindClass( "ingame", () => Game.InGame );
        BindClass("inlobby", () => Game.Menu.Lobby != null);

        v = new();
        @* v.Play("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4"); *@
        v.Play(FileSystem.Mounted, "video/loop.mp4");
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if(firstTime)
        {
            @* var texture = Texture.Load(FileSystem.Mounted, "images/pp_logo.png");
            Logo.Style.SetBackgroundImage(texture);
            Logo.Style.Width = texture.Width;
            Logo.Style.Height = texture.Height; *@
        }
    }

    public override void Tick()
    {
        Video.Style.Width = Length.Pixels(1920);
        Video.Style.Height = Length.Pixels(1080);
        Video.Style.SetBackgroundImage(v.Texture);
        v.Present();
        v.Repeat = true;
    }

    protected override void OnEvent( PanelEvent e )
    {
        if ( e.Name == "package.changed" )
        {
            StateHasChanged();
            return;
        }

        base.OnEvent( e );
    }

    [GameEvent.Menu.ServerJoined]
    public void OnServerJoined() => Navigate("/active");

    [GameEvent.Menu.LobbyJoined]
    public void OnLobbyJoined() => Navigate("/lobby");

    [GameEvent.Menu.LobbyLeave]
    public void OnLobbyLeave() => Navigate("/");

    [GameEvent.Menu.ServerLeave]
    public void OnServerLeave() => Navigate("/");
}
